a{
    background-color: green;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}
.clock-div{
    background-color: black;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    color: #ff0000;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
