.container {
  background-color: tomato;
  height: 200px;
  width: 200px;
}
img{
  height: 50px;
}
.container2{
  background-color: rgb(0, 170, 42);
  height: 200px;
  width: 200px;
  border: 1px tomato;
  
}
#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}